.topbar{
  padding:5px;
  background-color: brown;
}

.projectCard{
  margin-left: 15px;
  width: 60%;
  background-color: thistle;
}

.projectCard >h1, .projectCard >p, .projectCard >Link{
  margin-left: 15px;
}